$font-color-result: hsl(0, 0%, 100%);
$gradient-color1: hsl(241, 81%, 54%);
$gradient-color2: hsl(252, 100%, 67%);
$circle-gradient-color1: hsla(256, 72%, 46%, 1);
$circle-gradient-color2: hsla(241, 72%, 46%, 0);

$reaction-text-color: hsl(0, 100%, 67%);
$memory-text-color: hsl(39, 100%, 56%);
$verbal-text-color: hsl(166, 100%, 37%);
$visual-text-color: hsl(234, 85%, 45%);

$reaction-bg-color: hsla(0, 100%, 67%,0.2);
$memory-bg-color: hsla(39, 100%, 56%,0.2);
$verbal-bg-color: hsla(166, 100%, 37%,0.2);
$visual-bg-color: hsla(234, 85%, 45%,0.2);

$pale-blue-bg: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);